<!DOCTYPE html>
<html>
<head>
  <title>This Light</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield :local_js %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="/"><img src="/assets/rails.png" /></a>
  <br />

<%= yield %>

</body>
</html>
