<p id="notice"><%= notice %></p>

<p>
  <b><%= @galaxy.displayname %></b>
</p>

<%= form_for @galaxy, :url => {:action => "display"} do |f| %>
  <% @galaxy.color_groups.each do |c_g| %>
    <%= c_g.group_type.capitalize %>
    <%= select_tag("color_group_#{c_g.group_type}", options_for_select(ColorGroup.where(:group_type => c_g.group_type).map {|cg| [cg.displayname, cg.id] }))%>
  <% end %>
  <%= f.submit %>
<% end %>


<%= link_to 'Edit', edit_galaxy_path(@galaxy) %> |
<%= link_to 'Back', galaxies_path %>
