<h1>Fixtures</h1>

<table>
  <tr>
    <th>Galaxy</th>
    <th>Red</th>
    <th>Green</th>
    <th>Blue</th>
    <th>Distance</th>
    <th>Start address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fixtures.each do |fixture| %>
  <tr>
    <td><%= fixture.galaxy.displayname %></td>
    <td><%= fixture.r %></td>
    <td><%= fixture.g %></td>
    <td><%= fixture.b %></td>
    <td><%= fixture.distance %></td>
    <td><%= fixture.start_address %></td>
    <td><%= link_to 'Show', fixture %></td>
    <td><%= link_to 'Edit', edit_fixture_path(fixture) %></td>
    <td><%= link_to 'Destroy', fixture, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fixture', new_fixture_path %>
