<p id="notice"><%= notice %></p>

<p>
  <b>Galaxy:</b>
  <%= @fixture.galaxy.displayname %>
</p>

<p>
  <b>Red:</b>
  <%= @fixture.r %>
</p>

<p>
  <b>Green:</b>
  <%= @fixture.g %>
</p>

<p>
  <b>Blue:</b>
  <%= @fixture.b %>
</p>

<p>
  <b>Distance:</b>
  <%= @fixture.distance %>
</p>

<p>
  <b>Start address:</b>
  <%= @fixture.start_address %>
</p>


<%= link_to 'Edit', edit_fixture_path(@fixture) %> |
<%= link_to 'Back', fixtures_path %>
