<%= form_for(@color_value) do |f| %>
  <% if @color_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@color_value.errors.count, "error") %> prohibited this color_value from being saved:</h2>

      <ul>
      <% @color_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :color_group %>: 
    <%= f.collection_select :color_group_id, ColorGroup.all, :id, :displayname %><br />
  </div>
  <div class="field">
    <%= f.label :distance %> <small>(0..1)</small>:
    <%= f.text_field :distance, :size => 8 %><br />
  </div>
  <div class="field">
    <%= f.label 'Value' %> <small>(0..100)</small>:
    <%= f.number_field :v, :size => 8 %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
